@font-face{
    font-family: SundayFont;
    src: url(SUNDAY.ttf);
}

*{
    font-family: SundayFont, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tarea{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: #2777da;
    bottom: 25%;
    width: 500px;
    height: 300px;
    z-index: 2;
}

#formulario{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #cfe4ff;
    bottom: 10%;
    width: 300px;
    height: 500px;
    z-index: 3;
}

#lista{
    background-color: #000;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    height: 550px;
    width: 400px;
}

header{
    width: 100%;
    background-color: #4990e7d0;
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 5px;
    z-index: 9999;
    justify-content: center;
    box-shadow: 0px 0px 4px 1px #000;
    position: sticky;
}

.navegador{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
}

#logo{
    width: 150px;
    height: 60px;
}

#logo:hover{
    cursor: pointer;
}

section{
    background-color: #6db1ff;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#fondoNegro{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

#apertura{
    transform: rotate(90deg);
    width: 100px;
    height: 100px;
}

#apertura:hover{
    cursor: pointer;
}

.contenedor{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendario{
    background-color: #cfe4ff;
    width: 800px;
    padding-bottom: 3px;
    box-shadow: 0px 1px 5px #000;
}

.mes{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #4990e7d0;
    align-items: center;
    text-align: center;
    padding: 0 36px;    
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
}

.mes i{
    font-size: 25px;
}

.mes i:hover{
    cursor: pointer;
}

.mes h1{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.diasSemana{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    justify-content: space-evenly;
}

.diasSemana div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    width: 110px;
}

.dias{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3px;
}

.dias div:hover:not(.fecha-prev, .fecha-next){
    cursor: pointer;
}

.dias div{
    border-radius: 5%;
    margin: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100px;
    height: 70px;
    display: flex;
    border: 1px solid #000;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.fecha-prev,
.fecha-next {
  opacity: 0.5;
  background-color: grey;
}

.hoy {
    background-color: #8cabe6;
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    height: 200px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cruz{
    width: 50px;
    height: 50px;
}

#cruz:hover{
    cursor: pointer;
}

.listaCosas{
    font-size: 20px;
    list-style: none;
}

.Agregar{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #cfe4ff;
}

.Agregar:hover{
    cursor: pointer;
}

#formulario form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

form input{
    padding-left: 10px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.botones *{
    width: 100px;
    border:none
}

.botones{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.botones *:hover{
    cursor: pointer;
}

#Enviar{
    padding-left: 0;
    background-color: green;
    color: #fff;
}

#cancelar{
    border-radius: 5px;
    padding-left: 0;
    background-color: red;
    color: #fff;
    margin-bottom: 20px;
}

form img{
    height: 100px;
    width: 125px;
}

#formulario h4{
    font-size: 30px;
}

#dificultad {
    padding-left: 0;
}

.titulo{
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#lista *{
    color: #fff;
    font-size: 20px;
}

#lista ul{
    padding-top: 10px;
}

#lista li{
    padding: 5px 5px 5px 0px;
    text-align: center;
}

@media all and (max-width: 720px) {
    .contenedor{
        height: 550px;
    }
    
    .calendario{
        width: 500px;
        height: 500px;
        padding-bottom: 505px;
    }
    
    .mes{
        height: 70px;
    }

    .mes h1{
        font-size: 20px;
    }

    .diasSemana div{
        font-size: 16px;
        margin-left: 5px;
    }

    .dias div{
        width: 62px;
        height: 70px;
        margin: 4px;
    }

    #fondoNegro{
        width: 60px;
    }

    #apertura{
        width: 70px;
        height: 70px;
    }

    #lista{
        width: 90px;
        justify-content: center;
    }

    #lista *{
        font-size: 15px;
    }

    #lista ul{
        text-align: center;
    }

    #lista li{
        padding-left: 5px;
    }

    #tarea{
        bottom: 20%;   
    }

    #formulario{
        height: 450px;
        bottom: 7.5%;
    }
}