@font-face{
    font-family: SundayFont;
    src: url(SUNDAY.ttf);
}

/*Import del archivo css universal*/
@import url("daltonismo.css");

*{
    font-family: SundayFont, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logeate{
    position: fixed;
    display: none;
    flex-direction: column;
    text-align: center;
    bottom: 40%;
    padding: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--color-tarea);
}

#tarea{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: var(--color-tarea);
    bottom: 25%;
    width: 500px;
    height: 300px;
    z-index: 2;
}

#formulario{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: var(--color-seccion);
    bottom: 10%;
    width: 300px;
    height: 500px;
    z-index: 3;
}

#lista{
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    height: 550px;
    width: 400px;
}

header{
    width: 100%;
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 5px;
    z-index: 9999;
    justify-content: center;
    box-shadow: 0px 0px 4px 1px #000;
    position: sticky;
}

.navegador{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

body{
    background-color: var(--color-body);
}

nav{
    display: flex;
}

#logo{
    width: 150px;
    height: 60px;
}

#logo:hover{
    cursor: pointer;
}

#error{
    color: red;
    display: none;
    font-size: 15px;
    padding-top: 5px;
}

section{
    background-color: var(--color-body);
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
}

.contenido{
    width: 100%;
    max-width: 1350px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-body);
    height: 100vh;
    padding-top: 100px;
}

#fondoNegro{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

#apertura{
    transform: rotate(90deg);
    width: 100px;
    height: 100px;
}

#apertura:hover{
    cursor: pointer;
}

.contenedor{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendario{
    background-color: var(--color-seccion);
    width: 800px;
    padding-bottom: 3px;
    box-shadow: 0px 1px 5px #000;
}

.mes{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-principal);
    align-items: center;
    text-align: center;
    padding: 0 36px;    
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-bottom: 6px;
}

.mes i{
    font-size: 22px;
}

.mes i:hover{
    cursor: pointer;
}

.mes h1{
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.diasSemana{
    display: flex;
    align-items: center;
    width: 100%;
    height: 27px;
    justify-content: space-evenly;
}

.diasSemana div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    width: 110px;
}

.dias{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3px;
}

.dias div:hover:not(.fecha-prev, .fecha-next){
    cursor: pointer;
}

.dias div{
    border-radius: 5%;
    margin: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100px;
    height: 70px;
    display: flex;
    border: 1px solid #000;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.fecha-prev,
.fecha-next {
  opacity: 0.5;
  background-color: grey;
}

.hoy {
    background-color: var(--color-hoy);
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    height: 200px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cruz{
    width: 50px;
    height: 50px;
}

#cruz:hover{
    cursor: pointer;
}

#listaCosas{
    font-size: 20px;
    list-style: none;
}

#listaCosas ul{
    list-style: none;
}


.info{
    flex-direction: column;
    display: none;
    position: fixed;
    background-color: var(--color-principal);
    width: 500px;
    height: 400px;
    z-index: 4;
    bottom: 15%;
}

.info button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.info button:hover{
    cursor: pointer;
}

.informacion{
    height: 325px;
}

.informacion ul{
    list-style: none;
    padding: 10px 0 0 10px;
}

.Eliminar{
    background-color: red;
}

.cancelar{
    background-color: green;
}

.Acciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Agregar{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-seccion);
    border: none;
}

.Agregar:hover{
    cursor: pointer;
}

#formulario form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

form input{
    padding-left: 10px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.head img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.head{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 20px;
}

.textoH{
    display: flex;
    flex-direction: column;
}

.botonesT{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonesT button{
    margin-top: 10px;
    width: 150px;
    height: 25px;
    border: none;
}

.botonesT button:hover{
    cursor: pointer;
    background-color: gray;
}

.botones *{
    width: 100px;
    border:none
}

.botones{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.botones *:hover{
    cursor: pointer;
}

#Enviar{
    padding-left: 0;
    background-color: green;
    color: #fff;
}

#cancelar{
    border-radius: 5px;
    padding-left: 0;
    background-color: red;
    color: #fff;
    margin-bottom: 20px;
}

form img{
    height: 100px;
    width: 125px;
}

#formulario h4{
    font-size: 30px;
}

#dificultad {
    padding-left: 0;
}

.titulo{
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-bottom: 1px solid #000;
}

.dificil{
    background-color: var(--color-dificil);
    text-align: left;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.medio{
    background-color: var(--color-medio);
    text-align: left;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.facil{
    background-color: var(--color-facil);
    text-align: left;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.displays:hover{
    cursor: pointer;
}

#lista *{
    font-size: 15px;
}

#logeate a{
    text-decoration: none;
    color: #fff;
    background-color: green;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

/*confetti*/
#confetti{
    display: none;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

@media all and (max-height: 1080px){
    section{
        height: 100vh;
    }
}

@media all and (min-width: 1400px){
    section{
        justify-content: center;
    }
}

@media all and (max-width: 720px) {
    body{
        background-color: var(--color-body);
    }
    
    .contenedor{
        height: 100%; 
    }

    section{
        background-color: var(--color-body);
    }

    .calendario{
        width: 500px;
        height: 575px;
        padding-bottom: 505px;
    }
    
    .mes{
        height: 70px;
    }

    .mes h1{
        font-size: 20px;
    }

    .diasSemana div{
        font-size: 16px;
        margin-left: 5px;
    }

    .dias div{
        width: 62px;
        height: 70px;
        margin: 4px;
    }

    #fondoNegro{
        width: 60px;
    }

    #apertura{
        width: 70px;
        height: 70px;
    }

    #lista{
        width: 200px;
    }

    #lista *{
        font-size: 15px;
    }

    #lista ul{
        text-align: center;
    }

    #lista li{
        padding-left: 5px;
    }

    #tarea{
        bottom: 20%;   
    }

    #formulario{
        height: 500px;
        bottom: 7.5%;
    }
}

@media all and (max-width: 480px){
    .calendario{
        width: 300px;
        height: 375px;
        padding-bottom: 360px;
    }

    .contenido{
        padding-top: 0px;
    }
    
    .mes{
        height: 50px;
        font-size: 10px;
    }

    .mes h1{
        font-size: 10px;
    }

    .diasSemana div{
        font-size: 9px;
        justify-content: center;
    }

    .dias div{
        width: 40px;
        height: 45px;
        margin: 1px;
    }

    #fondoNegro{
        width: 40px;
        height: 300px;
    }

    #apertura{
        width: 40px;
        height: 40px;
    }

    #lista{
        width: 150px;
        height: 385px;
    }

    #lista *{
        font-size: 10px;
    }

    #lista ul{
        text-align: center;
    }

    #lista li{
        padding-left: 4px;
    }

    #tarea{
        bottom: 20%;   
    }

    #formulario{
        height: 500px;
        bottom: 10%;
    }
}

@media all and (max-width: 320px){
    .contenido{
        flex-direction: column;
    }

    #fondoNegro{
        width: 150px;
        height: 40px;
    }

    #lista{
        width: 300px;
        height: 200px;
    }

    #apertura{
        transform: rotate(180deg);
    }

    #tarea{
        width: 300px;
    }

    #cruz{
        width: 25px;
        height: 25px;
    }
}