@font-face{
    font-family: SundayFont;
    src: url(SUNDAY.ttf);
}

*{
    font-family: SundayFont, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tarea{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: #2777da;
    bottom: 25%;
    width: 500px;
    height: 300px;
    z-index: 2;
}

#formulario{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #cfe4ff;
    bottom: 10%;
    width: 300px;
    height: 500px;
    z-index: 3;
}

header{
    width: 100%;
    background-color: #4990e7d0;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 5px;
    z-index: 9999;
    justify-content: center;
    box-shadow: 0px 0px 4px 1px #000;
    position: sticky;
}

.navegador{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
}

#logo{
    width: 200px;
    height: 80px;
}

#logo:hover{
    cursor: pointer;
}

section{
    background-color: #6db1ff;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.fondoNegro{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

#apertura{
    transform: rotate(90deg);
    width: 100px;
    height: 100px;
}

#apertura:hover{
    cursor: pointer;
}

.contenedor{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendario{
    background-color: #cfe4ff;
    width: 900px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 5px #000;
}

.mes{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #4990e7d0;
    align-items: center;
    text-align: center;
    padding: 0 36px;    
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
}

.mes i{
    font-size: 30px;
}

.mes i:hover{
    cursor: pointer;
}

.mes h1{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.diasSemana{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
}

.diasSemana div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 21px;
    font-weight: 300;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    width: 110px;
}

.dias{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 4px;
}

.dias div:hover:not(.fecha-prev, .fecha-next){
    cursor: pointer;
}

.dias div{
    border-radius: 5%;
    margin: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 110px;
    height: 80px;
    display: flex;
    border: 1px solid #000;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.fecha-prev,
.fecha-next {
  opacity: 0.5;
  background-color: grey;
}

.hoy {
    background-color: #8cabe6;
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    height: 200px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cruz{
    width: 50px;
    height: 50px;
}

#cruz:hover{
    cursor: pointer;
}

.listaCosas{
    font-size: 20px;
    list-style: none;
}

.Agregar{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #cfe4ff;
}

.Agregar:hover{
    cursor: pointer;
}

#formulario form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

form input{
    padding-left: 10px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.botones *{
    width: 100px;
    border:none
}

.botones{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.botones *:hover{
    cursor: pointer;
}

#Enviar{
    padding-left: 0;
    background-color: green;
    color: #fff;
}

#cancelar{
    border-radius: 5px;
    padding-left: 0;
    background-color: red;
    color: #fff;
    margin-bottom: 20px;
}

form img{
    height: 100px;
    width: 125px;
}

