@font-face{
    font-family: SundayFont;
    src: url(SUNDAY.ttf);
}

/*Import del archivo css universal*/
@import url("daltonismo.css");

*{
    font-family: SundayFont, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#PrivacidadO{
    display: none;
}

#EstiloO{
    display: none;
}

#AyudaO{
    display: none;
}

#VisibilidadO{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    background-color: var(--color-principal);
    box-shadow: 0px 0px 4px 1px #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    padding: 10px 10px 0 5px;
    z-index: 9999;
}

.navegador{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
}

nav img{
    display: none;
    justify-content: center;
    align-items: center;
}

#Menu{
    display: none;
}

#logo{
    width: 200px;
    height: 80px;
}

#logo:hover{
    cursor: pointer;
}

section{
    background-color: var(--color-body);
    width: 100%;
    height: 100%;
}

#sectores{
    border: 2px solid grey;
    display: inline-flex;
    flex-direction: column;
    width: 15%;
    background-color: var(--color-generico);
    height: 525px;
    padding-top: 20px;
}

#sectores button{
    border: none;
    font-size: 20px;
    padding: 10px;
    background-color: var(--color-generico);;
    color: var(--color-texto);
}

#sectores button:hover{
    cursor: pointer;
}

#sectores button:focus{
    background-color: grey;
    color: var(--color-generico);;
}

.estiloIMG{
    width: 400px;
    height: 200px;
}

.opciones{
    display: inline-flex;
    padding-top: 20px;
    width: 84.5%;
    justify-content: center;
    align-items: center;
}

.modos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 20px 0 20px;
    box-shadow: 0 0 2px 1px #000;
    border-radius: 5px;
    font-size: 17px;
}

.modos input{
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.idiomas{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 1px #000;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    opacity: 60%;
}

.idiomas select{
    height: 30px;
    font-size: 17px;
}

#EstiloO{
    width: 100%;
    flex-direction: column;
}

.Estilos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
}

.Conjuntos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.Conjuntos h3, input, img{
    margin-bottom: 10px;
}

.Conjuntos h3{
    text-decoration: underline;
}

.Conjuntos input{
    height: 20px;
    width: 20px;
}

.Conjuntos img{
    border-radius: 5px;
}

/*perfilO*/
#PerfilO{
    box-shadow: 0 0 2px 1px #000;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}

#Noti{
    display: flex;
    justify-content: space-between;
}

#checkNoti{
    margin: 0 10px 0 10px;
    width: 20px;
    height: 20px;
}

#AyudaO{
    display: flex;
    flex-direction: column;
}

#Preguntas{
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

#Preguntas p{
    display: none;
}

#AyudaO h1{
    border-bottom: 1px solid #000;
}

#AyudaO p{
    padding-bottom: 10px;
}

.lineas{
    border-bottom: 1px solid #000;
}

.Displays{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.Displays img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.Displays img:hover{
    cursor: pointer;
}

@media all and (max-width: 720px) {
    .opciones{
        width: 80%;
    }

    #sectores button{
        font-size: 17px;
    }

    .idiomas select{
        width: 400px;
    }
}

@media all and (max-width: 480px) {
    .opciones{
       width: 79%; 
    }

    #sectores button{
        font-size: 15px;
    }

    #sectores{
        width: 20%;
        height: 300vh;
    }

    .Estilos{
        font-size: 15px;
    }

    .Conjuntos img{
        width: 250px;
        height: 200px;
    }

    .Encabezado{
        font-size: 20px;
    }

    #Preguntas{
        width: 300px;
    }

    #Preguntas h4{
        font-size: 15px;
    }

    .idiomas select{
        width: 250px;
    }
}

@media all and (max-width: 320px){
    .opciones{
        width: 73%;
        padding-top: 0px;
    }

    #sectores{
        width: 25%;
    }

    #sectores button{
        font-size: 12px;
    }

    #PerfilO h3{
        font-size: 15px;
    }

    #PerfilO p{
        font-size: 14px;
    }

    .idiomas select{
        width: 200px;
    }

    .Conjuntos img{
        width: 200px;
        height: 150px;
    }

    #Preguntas{
        width: 200px;
    }

    #Preguntas h4{
        font-size: 14px;
    }

    .Encabezado{
        font-size: 16px;
    }
}