:root{
    --color-principal: #4990e7;
    --color-body: #6db1ff;
    
    --color-texto: #000;
    --color-texto2: #fff;

    --color-bordes: #000;

    /*colores config-only*/
    --color-generico: whitesmoke;

    /*colores index-only*/
    --color-seccion: #cfe4ff;

    /*colores calendario-only*/
    --color-dificil: #ff6161;
    --color-medio: #eeff00;
    --color-facil: #2ee420;
    --color-tarea: #2777da;
    --color-hoy: #8cabe6;

    /*colores reg-only*/
    --color-toggle: #2196F3;
}