@font-face{
    font-family: SundayFont;
    src: url(SUNDAY.ttf);
}

*{
    font-family: SundayFont, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #4990e7d0;
    border: 4px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
    z-index: 9999;
}

.headerP{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    position: sticky;
}

nav ul{
    list-style: none;
    display: inline-flex;
}

nav img{
    display: none;
    justify-content: center;
    align-items: center;
}

ul a{
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 35px;
    color: #000;
    background: 10px #cfe4ff;
    border-radius: 500px;
}

ul a:hover{
    text-shadow: 1px 2px #000;
}

#logo{
    width: 200px;
    height: 80px;
}

#logo:hover{
    cursor: pointer;
}

section{
    width: 100%;
    background-color: #6db1ff;
}

.P1{
    width: 100%;
}

.texto{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.texto *{
    color: #fff;
    text-align: center;
    padding-top: 20px;
    text-shadow: 3px 4px #000;
}

.formulario{
    padding-top: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 400px;
}

.FI{
    border-radius: 20%;
    flex-direction: column;
    width: 600px;
    height: 700px;
    border: 3px solid #fff;
    text-align: center;
    background-color: #4990e7d0;
    box-shadow: 5px 9px 30px #000;
}

form{
    display: flex;
    flex-direction: column;
}

form input::placeholder{
    color: #fff;
}

#prop{
    color: #fff;
    font-size: 30px;
}

.FI form input{
    height: 60px;
    text-align: center;
    border-radius: 500px;
    border: 2px solid #fff;
    box-shadow: 2px 3px #000;
    background: transparent;
}

#mail{
    margin-right: 10px;
    font-size: 20px;
}

#Enviar:active{
    background-color: #008134;
}

#Enviar{
    border-radius: 500px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px 5px 20px;
}

#mail:focus{
    background-color: #fff;
}

#imagen{
    margin-left: 100px;
    flex-direction: row;
    width: 600px;
    height: 300px;
    box-shadow: 3px 3px 30px #000;
}

.formulario *{
    justify-content: center;
    align-items: center;
    display: flex;
}

.P2{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #cfe4ff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.P2 *{
    display: flex;
    justify-content: center;
}

.arriba{
    padding-top: 100px;
    display: flex;
    flex: row;
}

.abajo{
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
    display: flex;
}

.textos{
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.P2 img{
    max-width: 100%;
    width: 450px;
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    border: 2px solid #000;
}

footer{
    border-top: 4px solid #000;
    width: 100%;
    display: flex;
    background-color: #4990e7d0;
    flex-direction: column;
}

.footerP{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

footer *{
    font-family: Arial, Helvetica, sans-serif;
}

footer img{
    display: flex;
    height: 100px;
    width: 100px;
}

#imgI{
    width: 150px;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media all and (max-width: 720px) {
    
    nav ul{
        display: none;
    }

    nav img{
        display: flex;
        width: 70px;
        height: 70px;
    }

    .texto{
        font-size: 25px;
        padding: 5px 5px 5px 5px;
    }

    .formulario{
        padding-top: 200px;
        padding-bottom: 200px;
        flex-direction: column;
    }

    #imagen{
        margin-top: 50px;
        margin-left: 0px;
        justify-content: center;
        align-items: center ;
    }

    .FI{
        width: 500px;
        height: 600px;
    }

    .FI form input{
        height: 50px;
    }

    #Enviar{
        font-size: 15px;
    }

    #mail{
        margin-top: 10px;
        font-size: 15px;
    }

    #prop{
        font-size: 25px;
    }

    .P2 *{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #img1{
        margin-bottom: -30px;
    }

    #img2{
        margin-top: 30px;
    }

    .abajo{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media all and (max-width: 480px) {
    
    
    .texto{
        font-size: 20px;
        padding: 7px 7px 7px 7px;
    }

    .texto *{
        text-shadow: 3px 3px #000;
    }

    .FI{
        width: 350px;
    }

    #prop{
        font-size: 20px;
        padding: 3px 3px 3px 3px;
    }

    #mail{
        width: 300px;
    }

    #Enviar{
        width: 100px;
    }

    #imagen{
        width: 350px;
        margin-bottom: -100px;
    }
}

@media all and (max-width: 320px) {
    .texto{
        font-size: 15px;
    }

    .texto *{
        text-shadow: 1px 2px #000;
    }

    .FI{
        width: 300px;
    }

    #prop{
        font-size: 18px;
    }

    #mail{
        width: 250px;
    }

    #imagen {
        width: 300px;
        height: 200px;
    }
}