@font-face {
    font-family: SundayFont;
    src: url(SUNDAY.ttf);
}

/*Import del archivo css universal*/
@import url("daltonismo.css");

* {
    font-family: SundayFont, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: var(--color-principal);
    box-shadow: 0px 0px 4px 1px #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
    z-index: 9999;
}

.headerP {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav .Hyperlinks {
    list-style: none;
    display: inline-flex;
}

nav img {
    display: none;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

#Menu {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #4990e7;
    margin: 0;
    position: fixed;
    right: 0;
    width: 100%;
    text-align: center;
    top: -100%;
    z-index: 4;
    border-bottom: 1px solid #000;
}

.log{
    display: none;
}

.log1{
    display: none;
}

#Menu a {
    background-color: none;
    text-decoration: none;
    color: #000;
    transition: 0.7s ease;
    font-size: 25px;
    padding: 7px;
}

#Menu a:active {
    background-color: #4990e7ea;
}

.Hyperlinks a {
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 35px;
    color: #000;
    background: 10px #cfe4ff;
    border-radius: 500px;

}

.Hyperlinks a::before {
    border: 3px solid #000;
}

.Hyperlinks a:hover {
    animation: completar 1s linear forwards;
}

@keyframes completar {
    0% {
        border-top: 3px solid #000;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
    }

    25% {
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
    }

    50% {
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        border-bottom: 3px solid #000;
        border-left: 3px solid transparent;
    }

    100% {
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        border-bottom: 3px solid #000;
        border-left: 3px solid #000;
    }
}

#logo {
    width: 200px;
    height: 80px;
}

section {
    width: 100%;
    background-color: #6db1ff;
}

.P1 {
    width: 100%;
}

.texto {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    animation: agrandar 2s;
}

@keyframes agrandar {
    0% {
        font-size: 1px;
    }

    100% {
        font-size: 35px;
    }
}

.texto * {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    text-shadow: 3px 4px #000;
}

.formulario {
    padding-top: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 400px;
}

.FI {
    border-radius: 20%;
    flex-direction: column;
    width: 600px;
    height: 700px;
    border: 3px solid #fff;
    text-align: center;
    background-color: #4990e7d0;
    box-shadow: 5px 9px 30px #000;
}

form {
    display: flex;
    flex-direction: column;
}

form input::placeholder {
    color: #fff;
}

#prop {
    color: #fff;
    font-size: 30px;
}

.FI form input {
    height: 60px;
    text-align: center;
    border-radius: 500px;
    border: 2px solid #fff;
    box-shadow: 2px 3px #000;
    background: transparent;
}

#mail {
    margin-right: 10px;
    font-size: 20px;
}

#Enviar:active {
    background-color: #008134;
}

#Enviar {
    border-radius: 500px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px 5px 20px;
}

#Enviar:hover {
    cursor: pointer;
}

#mail:focus {
    background-color: #fff;
}

#imagen {
    margin-left: 100px;
    flex-direction: row;
    width: 600px;
    height: 300px;
    box-shadow: 3px 3px 30px #000;
}

.formulario * {
    justify-content: center;
    align-items: center;
    display: flex;
}

.P2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #cfe4ff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.P2 * {
    display: flex;
    justify-content: center;
}

.arriba {
    padding-top: 100px;
    display: flex;
    flex: row;
}

.abajo {
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
    display: flex;
}

.textos {
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.P2 img {
    max-width: 100%;
    width: 450px;
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    border: 2px solid #000;
}

footer {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    background-color: #4990e7;
    flex-direction: column;
}

.footerP {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

footer * {
    font-family: Arial, Helvetica, sans-serif;
}

footer img {
    display: flex;
    height: 100px;
    width: 100px;
}

#imgI {
    width: 150px;
}

#imgI:hover {
    cursor: pointer;
}

#imgD:hover {
    cursor: pointer;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media all and (max-width: 720px) {

    nav .Hyperlinks {
        display: none;
    }

    nav img {
        display: flex;
        width: 70px;
        height: 70px;
    }

    #Menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #4990e7;
        margin: 0;
        position: fixed;
        right: 0;
        width: 100%;
        text-align: center;
        top: -100%;
        z-index: 4;
        border-bottom: 1px solid #000;
    }

    #Menu a {
        background-color: none;
        text-decoration: none;
        color: #000;
        transition: 0.7s ease;
        font-size: 25px;
        padding: 7px;
    }

    #Menu a:active {
        background-color: #4990e7ea;
    }

    .texto {
        font-size: 25px;
        padding: 5px 5px 5px 5px;
    }

    @keyframes agrandar {
        0% {
            font-size: 1px;
        }

        100% {
            font-size: 25px;
        }
    }

    .formulario {
        padding-top: 200px;
        padding-bottom: 200px;
        flex-direction: column;
    }

    #imagen {
        margin-top: 50px;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }

    .FI {
        width: 500px;
        height: 600px;
    }

    .FI form input {
        height: 50px;
    }

    #Enviar {
        font-size: 15px;
    }

    #mail {
        margin-top: 10px;
        font-size: 15px;
    }

    #prop {
        font-size: 25px;
    }

    .P2 * {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #img1 {
        margin-bottom: -30px;
    }

    #img2 {
        margin-top: 30px;
    }

    .abajo {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media all and (max-width: 480px) {


    .texto {
        font-size: 20px;
        padding: 7px 7px 7px 7px;
    }

    @keyframes agrandar {
        0% {
            font-size: 1px;
        }

        100% {
            font-size: 20px;
        }
    }

    .texto * {
        text-shadow: 3px 3px #000;
    }

    .FI {
        width: 350px;
    }

    #prop {
        font-size: 20px;
        padding: 3px 3px 3px 3px;
    }

    #mail {
        width: 300px;
    }

    #Enviar {
        width: 100px;
    }

    #imagen {
        width: 350px;
        margin-bottom: -100px;
    }
}

@media all and (max-width: 320px) {
    .texto {
        font-size: 15px;
    }

    @keyframes agrandar {
        0% {
            font-size: 1px;
        }

        100% {
            font-size: 15px;
        }
    }

    .texto * {
        text-shadow: 1px 2px #000;
    }

    .FI {
        width: 300px;
    }

    #prop {
        font-size: 18px;
    }

    #mail {
        width: 250px;
    }

    #imagen {
        width: 300px;
        height: 200px;
    }
}